@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"),
    url("~@/assets/fonts/Roboto-Black.woff2") format("woff2"),
    url("~@/assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("~@/assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("~@/assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
