$primaryFont: "Roboto", sans-serif;
$bgColorPrimary: #f7f8fa;
$bgColorGallary: #ffffff;
$bgColorBtns: #ffffff;
$content-width: 1600px;
$colorPrimaryContent: #ff6633;
$colorTextDark: #6b7a99;
$colorTextLight: #adb8cc;
