.ts-gallery {
  padding: 30px 30px 30px 0;
  width: 100%;
  display: flex;
  &__wrapper {
    background-color: $bgColorGallary;
    border-radius: 15px;
    width: 100%;
    display: flex;
  }
  &__sidebar {
    display: flex;
    min-width: 290px;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    border-right: 2px solid #F5F6F7;
  }
  &__sidebar-header {
    width: 100%;
  }
  &__btn {
    display: flex;
    align-items: center;
    padding: 15px 27px;
    width: inherit;
    margin-bottom: 45px;
    background: $colorPrimaryContent;
    border: 2px solid $colorPrimaryContent;
    box-shadow: 0px 10px 30px rgba(255, 102, 51, 0.2);
    border-radius: 30px;
  }
  &__btn-icon {
    fill: rgba(255, 255, 255, 0.5);
    margin-right: 64px;
  }
  &__btn-desc {
    @include font(#FFFFFF, 12px, 900, 20px)
  }
  &__sidebar-content {
    width: 100%;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 25px;
    width: inherit;
    margin-bottom: 20px;
    &:first-child, &:last-child{
      margin-bottom: 35px;
    }
    &:hover {
      border: 2px solid #F5F6F7;
      box-shadow: 0 10px 30px rgba(38, 51, 77, 0.03);
      border-radius: 30px;
      padding: 12.5px 20px 12.5px 25px;
    }

  }
  &__item-icon {
    margin-right: 25px;
  }
  &__item-text {
    @include font($colorTextDark, 13px, 700, 25px)
  }
  &__item-quantity {
    @include font(#7D8FB3, 13px, 900, 25px)

  }
}


