@import "./fonts";
@import "./variables";
@import "./mixins";

body {
  background-color: $primaryBgColor;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}