.ts-person-control-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  min-width: 360px;

  &__top {
    width: 100%;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__person-box,
  &__dots-box {
    @extend .btn-control;
    width: 40px;
    height: 40px;
  }

  &__name {
    @include font($colorTextDark, 16px, 700, 30px);
  }

  &__email {
    @include font($colorTextLight, 14px, 700, 30px);
    margin-bottom: 40px;
  }

  &__main {
    max-width: 244px;
  }

  &__item-wrapper {
    display: flex;
    min-height: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-link {
    @include font($colorTextLight, 12px, 700, 20px);
  }

  &__person-info {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ts-person-control-content__menu {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #edeff2;
  border-left: 2px solid #edeff2;
  border-radius: 15px;

  &-item {
    display: flex;
    min-height: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    border-right: 2px solid #edeff2;
    border-bottom: 2px solid #edeff2;
    transition: background 0.2s, transform 0.1s;
  }

  &-item:first-child {
    border-radius: 15px 0 0 0;
  }

  &-item:nth-child(2) {
    border-radius: 0 15px 0 0;
  }

  &-item:nth-last-child(2) {
    border-radius: 0 0 0 15px;
  }

  &-item:last-child {
    border-radius: 0 0 15px 0;
  }

  &-item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background: $bgColorBtns;
    box-shadow: 0 60px 120px 0 rgba(38, 51, 77, 0.03);

    .ts-sidebar-nav-content__item-icon {
      fill: $colorPrimaryContent;
    }
  }
}

.ts-person-control-content__footer {
  width: 100%;
  border: 2px solid #edeff2;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
}

.ts-person-control-content__contacts {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
